<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="/users/<%=current_user.slug%>">
            <%=current_user.username%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/users/<%=current_user.slug%>">Your Auctions</a>
                        <a class="dropdown-item" href="/auctions">All Auctions</a>
                        <a class="dropdown-item" href="/auctioneers">All Auctioneers</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/auctions/new">Add Auction</a>
                        <a class="dropdown-item" href="/auctioneers/new">Add Auctioneer</a>
                    </div>
                </li>
            </ul>
            <form class="ml-auto" method="get" action="/logout">
                <a class="nav-link btn btn-outline-primary" href="/logout">Log Out</a>    
            </form>
            <!-- End of /logout form -->
        </div>
        <!-- End .navbar-collapse -->
    </div>
    <!-- End of .container adds a max width to navigation, this stops nav options from getting too wide -->
</nav>
<!-- End of main Nav -->


	


<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-12 col-md-11 col-lg-8">
        <% if Auctioneer.all.empty? %>
            <p>No Auctioneers to List</p>
        <% else %>

            <div class="card rounded">
              <div class="card-header">
                Auctioneering Staff
              </div>
              <div class="card-body">
                <h4 class="card-title">Manage Your Staff</h4>
                <p class="card-text">Select <span class="badge badge-info">more info</span> to update and assign your staff memebers to a sale.</p>
                <ul class="list-group list-group-flush">
                    <% Auctioneer.all.each do |auctioneer| %>
                <!-- clickable name, should take you to list of auctioneers upcoming sales -->
                    <li class="list-group-item bg-secondary text-white">
                        <span class="text-left"><%=auctioneer.name%></span>
                        <div class="float-right">
                            <a class="btn btn-info" href="/auctioneers/<%= auctioneer.id %>">More Info</a>
                            <a class="btn btn-warning" href="/auctioneers/<%= auctioneer.id %>/edit">edit</a>
                        </div>
                    </li>
                   <% end %>
                </ul>
                <!-- End of auctioner ul list -->
              </div>
              <!-- End of .card-body -->
            </div>
            <!-- End of .card -->
        <% end %>
        <!-- End of Conditional Statement -->
        </div>
        <!-- End of .col class -->
    </div>
    <!-- End of .row -->
</div>
<!-- End of .container -->