<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-12 col-md-11 col-lg-8">
      <h1 class="display-4 create-auction--header mb-3 text-light">Update Auctioneer</h1>
      <form method="post" action="/auctioneers/<%=@auctioneer.id%>">
        <div class="container bg-light rounded pb-2 pt-4">
        <!-- Rack::MethodOverride for update patch request -->
          <input type="hidden" name="_method" value="patch">

        <!-- AUCTIONEER INPUTS -->

        <!-- Raises Error message if invalid submission -->
          <% if flash.has?(:message) %>
            <% flash[:message].each do |msg| %>
              <span class="text-danger">
                <em><%= msg %></em>
              </span>
            <% end %>
            <!-- End of iteration  -->
          <% end %>
          <!-- End of Error handling -->
        
        	<!-- Create Auction -->
          <div class="form-group row">
          	<label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
        	    <input type="text" id="name" class="form-control" name="auctioneer[name]" value="<%=@auctioneer.name%>" required>
          	</div>
          </div><!-- End of/Auction Title -->

          <!-- Auctioneer License Number -->
            <div class="form-group row">
              <label for="au_number" class="col-sm-2 col-form-label">AU #</label>
              <div class="col-sm-10">
                <input type="text" id="au_number" class="form-control" name="auctioneer[auctioneer_license]" value="<%=@auctioneer.auctioneer_license%>" required>
              </div>
          </div>
          <!-- End of/Auction License Number -->

            <!-- Auctioneer Bio -->
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="bio">Bio</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="description" name="auctioneer[bio]" rows="3"><%=@auctioneer.bio%></textarea>
                </div>
            </div> 
            <!-- End of/Auctioneer bio -->


          <!-- END OF AUCTIONEER INPUTS -->

        	<!-- Checkboxes for Auctioneers -->
          <div class="form-group row">
            <div class="col-sm-10">
              <div class="form-check">
                <h4>Assign Auctioneer to Sale(s)</h4>
              <% Auction.all.each do |auction| %>

                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" name="auctioneer[auction_ids][]" value="<%=auction.id%>" <%= 'checked' if @auctioneer.auctions.include?(auction)%> > <%=auction.title %></input>
                </label>

              <% end %>
              <!-- End of iteration on Auction.all -->

              </div>
              <!-- End of .form-group.row -->
            </div>
            <!-- End of .col -->
          </div>
          <!-- END of/Checkboxes for Auctioneers -->
          
         <!-- Need an input for Creating Auctioneers --> 
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-success">Update</button>
            </div>
          </div>
        </form>
        <!-- End of form -->

        <form class="form-group row" method="post" action="/auctioneers/<%=@auctioneer.id%>">

          <input type="hidden" name="_method" value="delete">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>

        </div>
        <!-- End of .container adds white space and container to form element -->
      </form>
      <!-- End of form Method_Override Delete -->
    </div>
    <!-- End of .col class -->
  </div>
  <!-- End of .row -->
</div>
<!-- End of .container -->

