<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-12 col-md-11 col-lg-8">
            <div class="jumbotron">     
                <p class="lead text-right">License Number: #<%=@auctioneer.auctioneer_license%></p>           
                <h1 class="display-3"><%=@auctioneer.name %></h1>
                <p class="lead"><%=@auctioneer.bio%></p>
                 <hr class="my-4">
                <ul class="list-unstyled list-group list-group-flush">
                        
                    <h3 class="display-5 pt-3">Upcoming Auctions
                    </h3>
                
                <% @auctioneer.auctions.each do |auction| %>
                <!-- Add Individual Show page for auctions -->
                <!-- Update Link with that url -->
                    <li class="list-group-item list-group-item-primary"><a href="/auctions/<%=auction.id%>"><%=auction.title%></a></li>
                <% end %>
                </ul>
                 <!-- End of ul.list-group -->
                 <form method="get" action="/auctioneers/<%=@auctioneer.id%>/edit">
                    <button type="submit" class="btn btn-primary btn-lg btn-block mt-2">Update Info</a>
                 </form>
            </div>
            <!-- End of Jumbtron -->
        </div>
        <!-- End of .col class -->
    </div>
    <!-- End of .row -->
</div>
<!-- End of .container -->
