
<nav class="navbar navbar-expand-sm navbar-dark bg-dark justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="/users/<%=current_user.slug%>">
            <%=current_user.username%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/users/<%=current_user.slug%>">Your Auctions</a>
                        <a class="dropdown-item" href="/auctions">All Auctions</a>
                        <a class="dropdown-item" href="/auctioneers">All Auctioneers</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Create</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/auctions/new">Add Auction</a>
                        <a class="dropdown-item" href="/auctioneers/new">Add Auctioneer</a>
                    </div>
                </li>
            </ul>
            <form class="ml-auto" method="get" action="/logout">
                <a class="nav-link btn btn-outline-primary" href="/logout">Log Out</a>    
            </form>
            <!-- End of /logout form -->
        </div>
        <!-- End .navbar-collapse -->
    </div>
    <!-- End of .container adds a max width to navigation, this stops nav options from getting too wide -->
</nav>
<!-- End of main Nav -->


<div class="container">
    <div class="col-md-6">
        <h4 class="display-4 text-light view-auction-header mt-3 mb-4"> Hi, <%= current_user.username %></h4>
    </div>
<% if Auction.all.empty? %>

    <p>No Auctions to List</p>

    <% else %>
    <div class="container">
    <div class="row">
        <% Auction.all.each do |auction| %>
    	<div class="col-12 col-8 col-md-6 col-lg-4 ml-auto mr-auto">
            <div class="card mb-4" style="">
                <div class="card-header bg-info text-light">
                    <h4 class="card-title text-center"><%= auction.title %></h4>
                </div>
                <img class="card-img-top img-responsive" src="img/random_pic-350x150.jpeg" alt="Card image cap">
                <div class="card-body">
                    
                    <p class="card-text text-center">
                        <%= auction.description[0..40].gsub(/\s\w+\s*$/,' and more...') %>
                    </p>
                </div>
                <!-- Removed from this view of all auction listings, additional info about auction on auction/:id route -->
                <!-- <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Location:</strong>
                        <%= auction.location%>
                    </li>
                    <li class="list-group-item"><strong>Auction On:</strong>
                        <%= auction.start_date %>
                    </li>                    
                </ul> -->
                <div class="card-body text-center">
                    <% if auction.user == current_user %>
                     <a class="p-3 mb-2 btn-warning text-white rounded" href="/auctions/<%=auction.id%>/edit">edit</a>
                    <% end %>                   
                    <a class="p-3 mb-2 btn-info text-white rounded" href="/auctions/<%=auction.id%>">View All Details</a>            
                </div>
                <!-- End of .card-body -->
            </div>
            <!-- End of .card -->
           </div>
           <!-- End of .col -->
        <% end %>
        <!-- End of iteration -->
	    </div>
	    <!-- End of .row -->
    <% end %>
    <!-- End of if/else statement -->
	</div>
	<!-- End of .container -->



