<div class="container mt-5 text-center">
    <div class="card mb-3 col-md-10 mr-auto ml-auto">
        <img class="card-img-top" src="../img/auction_pic-600x200.jpeg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title"><%= @auction.title %></h4>
            <p class="card-text"><%= @auction.description %></p>
        </div>
        <ul class="list-unstyled list-group list-group-flush">
            <li class="list-group-item">
                <strong>Location: </strong><%= @auction.location%>
            </li>
            <li class="list-group-item">
                <strong>Begins at: </strong><%= "#{@auction.start_date} @ #{@auction.start_time}" %>
            </li>
            <li class="list-group-item">
                <strong>Preview: </strong><%= "#{@auction.preview_date} @ #{@auction.preview_time}" %>
            </li>
            <li>
                <h3 class="display-5 pt-3">Auctioneers Assigned to Sale</h3>
                <ul class="list-unstyled">
                    <% @auction.auctioneers.each do |auctioneer| %>
                        <li class="list-group-item list-group-item-primary">
                            <a href="/auctioneers/<%=auctioneer.id%>"><%=auctioneer.name%></a>
                        </li>
                    <% end %>
                </ul>
            </li>
        </ul>
        <% if current_user.auctions.include?(@auction) %>
            <div class="row pb-2">
                <div class="col col-md-4  ml-auto">
                    <form method="get" action="/auctions/<%=@auction.id%>/edit">
                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-2">Update Info</button>
                    </form>
                </div>
                <div class="col-md-4 mr-auto">
                    <form method="post" action="/auctions/<%=@auction.id%>">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger btn-lg btn-block mt-2">Delete</button>
                    </form>
                </div>
            </div>
        <% end %> 
    </div>
</div>